<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/themes/{{site.theme}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/themes/{{site.theme}}/stylesheets/pygment_trac.css">
    <script src="http://lib.sinaapp.com/js/jquery/1.7/jquery.min.js"></script>
    <script src="{{site.baseurl}}/themes/{{site.theme}}/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/{{site.username}}/{{site.baseurl}}/tree/gh-pages">Fork On GitHub</a></li>
       <!--    <li class="downloads"><a href="https://github.com/briandoll/change-inside-surroundings.vim/zipball/master">ZIP</a></li>
          <li class="downloads"><a href="https://github.com/briandoll/change-inside-surroundings.vim/tarball/master">TAR</a></li>
          <li class="title">DOWNLOADS</li> -->
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1><a href="{{site.baseurl}}/">{{site.title}}</a></h1>
          <p>{{site.description}}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/{{site.username}}">{{site.username}}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme of <a href="https://github.com/briandoll/change-inside-surroundings.vim">midnight</a></span>
        </div>
        <span id="pagetitle">
          <h1>{{page.title}} </h1>
        </span>
        
{{content}} 
      </section>

      <section id="comments">
        {% if page.comments %}
          {% include comments.ext %}
        {% endif %}
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    
  </body>
</html>