<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{site.title}}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/themes/{{site.theme}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/themes/{{site.theme}}/stylesheets/pygment_trac.css">
    <script src="{{site.baseurl}}/themes/{{site.theme}}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
      <h1><a href="{{site.baseurl}}/">{{site.title}}</a></h1>
        <p>{{site.description}}</p>
        <ul>
          <li><a href="https://github.com/{{site.username}}/{{site.baseurl}}/tree/gh-pages">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h1>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a> {{ page.title }} 
        </h1>
{{ content }}
      </section>
      
      <section class="comments">
        {% if page.comments %}
          {% include comments.ext %}
        {% endif %}
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/{{site.username}}">{{site.username}}</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
