---
layout: default
comments: true
---
{% if site.theme == 'kunka' %}
    {% include layout_kunka_post.html %}
{% else %}
    {{content}}
{% endif %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'Timelordlulu',
    repo: 'timelordlulu.github.io',
    oauth: {
        client_id: 'f575554aa69f6f3a7fe6',
        client_secret: '573da4d988e74a9d87982055157e2aa060c6de8b',
    },
});
gitment.render('gitmentContainer');
</script>
